*{
    margin: 0 auto;
}

body {
    background: url("./Bio.jpg")
}

label {
    color: #b3c1dc;
    font-family: 'comic sans';
    margin-top: 50px! important;
}

#table-yuk{
    margin: 20px 0px 10px 50px;
    background-color: #60b3e0;
    padding: 20px;
}

#box-head {
    margin-top: 10px;
    width: 900px;
    background-color: #bad0e7;
    padding: 20px;
    display: block;
}

#box-body {
    margin-top: 10px;
    width: 900px;
    background-color: #bad0e7;
    padding: 5px;
    height: 300px;
}

.box {
    margin-top: 10px;
    width: 350px;
    background-color: #bad0e7;
    margin-right: 10px;
    float: left;
    padding: 30px;
}

.clear {
    float: clear;
}
p::first-letter {
    font-size: xx-large;
}

a:hover {
    text-decoration: none;
    color: #4682b4;
}